<template>
    <div style="height: 300px;">
        <lightning-datatable
                key-field="id"
                data={data}
                columns={columns}
								hide-checkbox-column="true">
        </lightning-datatable>
    </div>    
</template>